<div class="lgn-center-col col-12 col-sm-10 col-md-6">
  <div role="complementary" aria-label="Primary">

    <h1>Set A New Password</h1>
    <lgn-step-indicator [selectedStep]="selectedStep" [steps]="steps"></lgn-step-indicator>
    <h2>First, help us identify you.</h2>
    <p class="lgn-intro-message">Provide the user name and email associated with your account.</p>
  </div>

  <form #forgotPasswordForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">

      <div class="row">
        <div class="col">

          <label *ngIf="focusUserName || username.valid"
                 id="userNameLabel"
                 class="help-message"
                 for="username"
          >&#xf007; User Name</label>

          <div *ngIf="(userNameErrors && username.invalid && !focusUserName)"
               class="error-message"> User Name is required.</div>

          <input id="username"
                 name="username"
                 type="text"
                 #username="ngModel"
                 [(ngModel)]="userName"
                 [ngClass]="{
                   'form-focus': focusUserName,
                   'form-error': (userNameErrors && username.invalid && !focusUserName)
                 }"
                 class="form-control"
                 (blur)="focusUserName = false"
                 (focus)="OnFocusUserName()"
                 placeholder="&#xf007;  User Name"
                 required
                 aria-label="user name"
                 autocomplete="username"
          />

        </div>
      </div>

      <div class="row">
        <div class="col input-group lgn-input-row">

          <label *ngIf="focusEmail || emailAddress.valid"
                 id="emailAddressLabel"
                 class="help-message"
                 for="emailAddress"
          >&#xf0e0; Email Address</label>

          <div *ngIf="userEmailErrors && !focusEmail && emailAddress.errors" class="error-message">
            <span *ngIf="emailAddress.hasError('required')">
              Email Address is required.
            </span>
            <span *ngIf="!emailAddress.hasError('required') && emailAddress.hasError('validEmailRequired')">
              Please enter a valid email address.
            </span>
          </div>

          <input id="emailAddress"
                 type="email"
                 name="emailAddress"
                 class="form-control lgn-email-address"
                 #emailAddress="ngModel"
                 [(ngModel)]="userEmail"
                 [ngClass]="{
                   'form-focus': focusEmail,
                   'form-error': userEmailErrors && !focusEmail
                                 && (emailAddress.invalid || emailAddress.control.hasError('pattern'))
                 }"
                 (blur)="focusEmail = false"
                 (focus)="OnFocusUserEmail()"
                 placeholder="&#xf0e0;  Email Address"
                 aria-label="email address"
                 autocomplete="email"
                 required
                 lgnValidateEmail
          />
          <div class="input-group-append">
            <button class="btn lgn-btn-append"
                    type="button"
                    aria-label="More information"
                    (click)="emailHelpModal.show()"
                    tabindex="0">
              <span class="fas fa-info-circle lgn-help-indicator"></span>
            </button>
          </div>
        </div>
      </div>

    </div>

    <button type="submit"
            id="btnSubmit"
            label="Continue"
            class="lgn-continue-btn btn btn-lg btn-primary"
            aria-label="continue button"
    >CONTINUE</button>

    <div class="lgn-cancel-container">
      <a id="btnCancel"
         label="Cancel"
         class="lgn-cancel"
         routerLink="/login"
         aria-label="cancel"
      >Cancel</a>
    </div>
  </form>

  <div class="lgn-forgot-options" role="complementary" aria-label="Secondary">
    <a id="forgotUserName"
       routerLink="/forgot-username"
       aria-label="forgot user name"
       class="lgn-forgot-user lgn-btn-underline"
       tabindex="0">Forgot user name?</a>
  </div>
</div>


<div [config]="{ show: false }" bsModal
     #emailHelpModal="bs-modal" class="modal fade"
     tabindex="-1" role="dialog"
     [attr.aria-label]='"cancel"'
     aria-label="emailHelpModalLabel"
     aria-hidden="true">
  <div class="modal-dialog lgn-modal-sm">
    <div class="modal-content lgn-position-relative">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" tabindex="0"
                aria-hidden="true" (click)="emailHelpModal.hide()">
          <span class="fa fa-times" aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <p>This is the email address you provided for your account. If you can't remember which email address you gave us,
          or can no longer access it, please <a [href]="customerSupportUrl">contact us</a> for help.</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="lgn-close-btn btn btn-lg btn-primary" tabindex="0"
                data-dismiss="modal" (click)="emailHelpModal.hide()">CLOSE
        </button>
      </div>
    </div>
  </div>
</div>
