.lgn-password {
  margin-top: 8%;
  margin-bottom: 8%;
}

ul {
  list-style: none;
  font-size: 16px;
}

.lgn-list-heading {
  font-weight: bold;
}

.lgn-continue-btn {
  width: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 90px
}

.lgn-user-action-list {
  padding-left: 0;
}

.fa {
  margin-right: 20px;
}

.lgn-msg-icon {
  padding-top: 4px !important;
  font-size: 34px !important;
}

.lgn-request-status-container {
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  align-items: stretch;
  justify-items: flex-start;
  flex-wrap: nowrap;
}

.lgn-status-icon {
  order: 1;
  font-size: 26px;
}

.lgn-status-message {
  order: 2;
}

.lgn-green {
  color: #54B948;
}

.lgn-red {
  color: #E31937;
}
@media(max-width:767px){
  .lgn-continue-btn {
    width: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 0px
  }
}

@media(min-width:768px){
  .lgn-continue-btn {
    width: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 0px
  }
}

@media(min-width:992px){
  .lgn-continue-btn {
    width: 50%;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 90px
  }
}

@media(min-width:1024px){
  .lgn-continue-btn {
    width: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 0px
  }
}

@media(min-width:1200px){
  .lgn-continue-btn {
    width: 60%;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 90px
  }
}
