<div class="lgn-center-col col-12 col-sm-10 col-md-6">
  <h2>{{messageText}}</h2>
  <div class="lgn-password">
    <ul class="lgn-user-action-list">
      <li [innerHtml]="messageSubText"></li>
    </ul>
  </div>
  <div>
    <button *ngIf="!provisioned" (click)="componentNavigate('forgot-password')" class="lgn-continue-btn btn btn-lg btn-primary">Start
      Over
    </button>
    <button *ngIf="provisioned" (click)="resendActivationLink()" class="lgn-continue-btn btn btn-lg btn-primary">
      Resend Activation Link
    </button>
  </div>
</div>

<div [config]="{ show: false }" bsModal
     #resendActivationModal="bs-modal" class="modal fade"
     tabindex="-1" role="dialog"
     [attr.aria-label]='"cancel"'
     aria-label="resendActivationModalLabel"
     aria-hidden="true">
  <div class="modal-dialog lgn-modal-sm">
    <div class="modal-content lgn-position-relative">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" tabindex="0"
                aria-hidden="true" (click)="resendActivationModal.hide()">
          <span class="fa fa-times" aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="lgn-request-status-container">
          <div class="lgn-status-icon">
            <span class="fa fa-fw" [ngClass]="{
              'fa-spinner fa-pulse fade-in': !responseReturned,
              'fa-warning lgn-red fade-in': (responseReturned && resendActivationError),
              'fa-check lgn-green fade-in': (responseReturned && !resendActivationError)
            }"></span>
          </div>
          <div class="lgn-status-message" >
            <p *ngIf="!responseReturned" [ngClass]="{'fade-in': !responseReturned}">Sending Activation Email.</p>
            <p *ngIf="responseReturned && resendActivationError"
               [ngClass]="{'fade-in': responseReturned && resendActivationError}"
               [innerHtml]="alreadyActivatedMessage"></p>
            <p *ngIf="responseReturned && !resendActivationError"
               [ngClass]="{'fade-in': responseReturned && !resendActivationError}">We sent you a new activation link. Use the link in that email within 24 hours, before it expires.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="lgn-close-btn btn btn-lg btn-primary" tabindex="0"
                data-dismiss="modal" (click)="resendActivationModal.hide()">CLOSE
        </button>
      </div>
    </div>
  </div>
</div>
