<div class="lgn-intro-message">Set login credentials.</div>
<div class="lgn-intro-message">
  <p>Create a unique user name and a strong password for your account.</p>
</div>
<form #setLoginCredentials="ngForm" (ngSubmit)="onSubmit()">

  <!-- User Name -->
  <div class="input-group lgn-input-row" role="rowgroup">
    <label *ngIf="(focusUserName && txtUserName.untouched) || txtUserName.valid" id="firstNameLabel" class="help-message" for="lgn-user-name">
      &#xf007; User Name
    </label>

    <div *ngIf="txtUserName.touched && txtUserName.invalid" class="error-message">
      <span *ngIf="txtUserName.hasError('required')">
        User Name is required.
      </span>
      <span *ngIf="txtUserName.hasError('minlength') && !txtUserName.hasError('required')">
        User Name must have seven to 20 characters.
      </span>
      <span *ngIf="txtUserName.hasError('pattern') && !txtUserName.hasError('minlength') && !txtUserName.hasError('required')">
         Cannot start with 0 or use @$;|&/\ and must include a letter.
      </span>
    </div>

    <lgn-input-tooltip [toolTipActive]="focusUserName"
                       [intro]="intro"
                       [list]="requirementsList"
                       [width]="180"></lgn-input-tooltip>

    <input
      required
      id="lgn-user-name"
      class="form-control"
      name="userName"
      type="text"
      placeholder="{{txtUserName.untouched ? '&#xf007; User Name' : '' }}"
      tabindex="1"
      title="User Name"
      autocomplete="username"
      minlength="7"
      maxlength="20"
      [pattern]="usernameRegx"
      (focus)="focusUserName = true;"
      (blur)="focusUserName = false;"
      [(ngModel)]="userRegistrationViewModel.uid"
      [ngClass]="{'form-focus': focusUserName, 'form-error': (txtUserName.touched && txtUserName.invalid)}"
      #txtUserName="ngModel"
      aria-labelledby="firstNameLabel"
    />
    <div class="input-group-append">
      <button class="btn btn-link lgn-btn-append"
              type="button"
              aria-label="More information"
              (click)="userNameHelpModal.show()"
              tabindex="1">
        <span class="fas fa-info-circle lgn-help-indicator lgn-blue lgn-below-tooltip"></span>
      </button>
    </div>
  </div>

  <!-- /.User Name -->

  <lgn-self-reg-set-password [username]="userRegistrationViewModel.uid" [email]="email"></lgn-self-reg-set-password>

  <button type="submit" id="lgn-set-login-credentials" class="lgn-set-password-btn btn btn-lg btn-primary" tabindex="1">Continue</button>
</form>

<div [config]="{ show: false }" bsModal
     #userNameHelpModal="bs-modal" class="modal fade"
     tabindex="-1" role="dialog"
     [attr.aria-label]='"cancel"'
     aria-label="emailHelpModalLabel"
     aria-hidden="true">
  <div class="modal-dialog lgn-modal-sm">
    <div class="modal-content lgn-position-relative">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" tabindex="0"
                aria-hidden="true" (click)="userNameHelpModal.hide()" (keypress)="userNameHelpModal.hide()">
          <span class="fa fa-times" aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your user name is the identification you will use to log in to your account. Please create a unique user name that has at least seven characters and no spaces or @ symbols.</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="lgn-close-btn btn btn-lg btn-primary" tabindex="0"
                data-dismiss="modal" (click)="userNameHelpModal.hide()" (keypress)="userNameHelpModal.hide()">CLOSE
        </button>
      </div>
    </div>
  </div>
</div>
