.lgn-intro-message {
  margin-bottom: 25px;
  font-size: 24px;
}

.lgn-standard-blue-radio {
  margin-bottom: 25px;
  font-size: 16px;
}

.lgn-standard-blue-radio div:first-child {
  padding-left: 0 !important;
}

.lgn-standard-blue-radio div:last-child {
  padding-right: 0 !important;
}

.lgn-standard-blue-radio div label {
  font-size: 16px;
}

.lgn-radio-group-error-msg {
  color: #e31937;
  font-size: 14px;
}

.lgn-radio-group-label {
  padding-left: 0;
}

.lgn-note-container {
  padding-top: 10px;
  margin-bottom: 25px;
  display: inline-block;
}

.lgn-button-container {
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}

.lgn-continue-btn {
  width: 100%;
}

