@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";

.btn-primary {
  width: 100%;
}

.lgn-new-password-form {
  margin-top: 35px;
}

.lgn-reset-password-title {
  margin-bottom: 20px;
}

.lgn-reset-password-subtitle {
  margin-bottom: 15px;
}

.lgn-reset-password-details {
  margin-bottom: 15px;
}

.lgn-password {
  margin-bottom: 15px;
}

.error-message {
  @include media-breakpoint-up(xm) {
    margin-top: 0;
    margin-left: 0;
    position: relative;
    display: block;
  }
}

.lgn-btn-forgot-user {
  cursor: pointer;
}

.lgn-btn-forgot-password {
  cursor: pointer;
}

.lgn-forgot-password {
  margin-left: 10px;
  cursor: pointer;
}

.lgn-show-password {
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 25px;
  display: inline-block;
  cursor: pointer;
  padding: 5px 15px;
  background: none;
  border: none;
}

.lgn-login-btn {
  width: 100%;
}

.lgn-continue-btn {
  padding: 15px 20px;
  letter-spacing: 1px;
}

.lgn-link {
  font-size: 16px;
  cursor: pointer;
}

.checkbox-primary {
  margin-top: 10px;
  margin-bottom: 25px;
}

.lgn-show-password {
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 20px;
}

.lgn-set-btn {
  letter-spacing: 1px;
  width:100%;
}

.lgn-follow-rules {
  margin-top: 10px;
  margin-bottom: 35px;
}

.lgn-show-password {
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 25px;
  display: inline-block;
  cursor: pointer;
  padding: 5px 15px;
  background: none;
  border: none;
}
.container-fluid {
  height: 77%;
}

ul li {
  font-size: 16px;
}

ul li a {
  text-decoration: underline;
}

p a {
   text-decoration: underline;
}

.lgn-new-password {
  margin-bottom: 2px;
}

.lgn-confirm-password {
  margin-bottom: 25px;
}

.lgn-confirm-password-match-indicator {
  font-size: 24px;
  margin-left: 10px;
  margin-top: 10px;
  color: #54B948;
  position: absolute;
  right: 30px;
}

/* *****  strength bar indicator ******  */

.progress {   /* override bootstrap */
  height: 15px;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
   border-radius: 0 !important;
}



@media(max-width:767px){
  .lgn-new-password-with-indicator {
    width:85%;
  }
}
