<form #setPasswordForm="ngForm" class="lgn-new-password-form">

  <div class="form-group" *ngIf="needsCurrentPassword">
    <div *ngIf="focusPassword" class="help-message">
      &#xf023; Current Password
    </div>
    <div *ngIf="showErrors && !focusPassword && !isCurrentPasswordValid" class="error-message">
      Current Password is required.
    </div>
    <label style="display:none" for="fieldCurrentPassword">
      Current Password Input
    </label>
    <lgn-capslock-tooltip></lgn-capslock-tooltip>
    <input
      name="password"
      [ngClass]="{
          'form-error': showErrors && !focusPassword && !isCurrentPasswordValid,
          'form-focus': focusPassword
        }"
      class="form-control lgn-password"
      (input) = "checkIfCurrentPasswordIsValid();"
      (blur)="focusPassword = false"
      (focus)="enteredCurrentPassword = true; focusPassword = true;"
      [(ngModel)]="currentPassword"
      id="fieldCurrentPassword"
      [type]="passwordInputType"
      autocomplete="current-password"
      #fieldCurrentPassword="ngModel"
      placeholder="&#xf023;  Current Password"
      tabindex="0"
      title="Password"
      [attr.aria-label]='"Current Password"'
    />
    <a (click)="navigateToForgotPassword()" class="lgn-forgot-password lgn-link-primary" tabindex="0">Forgot password?</a>
  </div>

  <div class="form-group">
    <div class="password-rules-tooltip" *ngIf="focusNewPassword">
      <div>
        Your new password must have:
        <ul class="password-validation-list">
          <li>
            <span *ngIf="lengthRequirementMet">
              <span class="fa fa-check fa-fw"></span>
            </span>
            <span *ngIf="!lengthRequirementMet">
              <span class="far fa-circle fa-fw"></span>
            </span>
            At least 10 characters.
          </li>
          <li>
            <span *ngIf="lowercaseRequirementMet">
              <span class="fa fa-check fa-fw"></span>
            </span>
            <span *ngIf="!lowercaseRequirementMet">
              <span class="far fa-circle fa-fw"></span>
            </span>
            A lower-case letter (like a)
          </li>
          <li>
            <span *ngIf="uppercaseRequirementMet">
              <span class="fa fa-check fa-fw"></span>
            </span>
            <span *ngIf="!uppercaseRequirementMet">
              <span class="far fa-circle fa-fw"></span>
            </span>
            A upper-case letter (like A)
          </li>
          <li>
            <span *ngIf="specialCharacterRequirementMet">
              <span class="fa fa-check fa-fw"></span>
            </span>
            <span *ngIf="!specialCharacterRequirementMet">
              <span class="far fa-circle fa-fw"></span>
            </span>
            A number or special character (like 1 or $)
          </li>
          <li *ngIf="isBlacklisted">
            <span class="fa fa-exclamation-triangle"></span>
            <span class="pl-1">Cannot be a common password</span>
          </li>
          <li *ngIf="passwordContainsUsername">
            <span class="fa fa-exclamation-triangle"></span>
            <span class="pl-1">Cannot contain username</span>
          </li>
          <li *ngIf="!specialBracketsCharacterRequirementMet && newPassword?.length > 0">
            <span class="fa fa-exclamation-triangle"></span>
            <span class="pl-1">Cannot contain < > characters</span>
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="focusNewPassword" class="help-message">
      &#xf023; New Password
    </div>
    <div *ngIf="showErrorsFocusNewPassword && !focusNewPassword && !isNewPasswordValid" class="error-message">
      New Password is required.
    </div>
    <div *ngIf="showErrorsFocusNewPassword && !passwordMeetsSICRequirements && (fieldNewPassword.touched || submitted) && newPassword?.length > 0"
         class="error-message">
      The new password does not yet meet requirements.
    </div>

    <lgn-capslock-tooltip></lgn-capslock-tooltip>
    <input
      name="fieldNewPassword"
      id="fieldNewPassword"
      title="New Password Input"
      required
      class="form-control lgn-new-password"
      [ngClass]="{'form-error': (showErrorsFocusNewPassword && !focusNewPassword && !isNewPasswordValid) || (showErrorsFocusNewPassword && !passwordMeetsSICRequirements
        && (fieldNewPassword.touched || submitted) && newPassword?.length > 0),
             'form-focus': focusNewPassword}"
      (focus)="onFocusNewPassword();"
      (blur)="focusNewPassword = false;"
      (input)="evalPassword(); setStrengthBar(); checkIfPasswordsMatch(); checkIfNewPasswordIsValid();"
      [(ngModel)]="newPassword"
      autocomplete="new-password"
      #fieldNewPassword="ngModel"
      [type]="passwordInputType"
      placeholder="&#xf023;  New Password"
      [attr.aria-label]='"New Password"'
    />

    <!-- Strength Bar -->
    <div>
      <div class="progress password-progress-container">
        <div id="strengthBar" role="progressbar" class="progress-bar" [ngClass]="strengthBarClass"></div>
      </div>
      <div id="strengthMsg" class="strength-msg">
        <span class="strength-msg-prefix">{{strengthMsgPrefix}}</span>
        <span>{{strengthMsg}}</span>
      </div>
    </div>

    <lgn-capslock-tooltip></lgn-capslock-tooltip>
    <span *ngIf="confirmPasswordMatch && passwordMeetsSICRequirements">
      <span class="fa fa-check lgn-confirm-password-match-indicator"></span>
    </span>
    <div *ngIf="focusConfirmPassword" class="help-message d-xm-block">
      &#xf023; Confirm New Password
    </div>
    <div *ngIf="showErrorsConfirmPassword && confirmPassword.length === 0 && !focusConfirmPassword" class="error-message">
      Confirm New Password is required.
    </div>
    <div *ngIf="!confirmPasswordMatch && confirmPassword?.length > 0 &&
                showErrorsConfirmPassword && fieldConfirmPassword.touched"
         class="error-message">
      The new passwords do not match. Please try again.
    </div>
    <input
      name="fieldConfirmPassword"
      id="fieldConfirmPassword"
      title="New Password Input"
      required
      [ngClass]="{'form-error': ((!confirmPasswordMatch && showErrorsConfirmPassword && fieldConfirmPassword.touched) ||
                                (showErrorsConfirmPassword && confirmPassword.length === 0 && !focusConfirmPassword)),
                     'form-focus': focusConfirmPassword,
                     'new-password-with-indicator' : confirmPasswordMatch && passwordMeetsSICRequirements}"
      class="form-control lgn-confirm-password"
      (input)="checkIfPasswordsMatch()"
      autocomplete="new-password"
      (blur)="focusConfirmPassword = false"
      (focus)="onFocusConfirmPassword();"
      [(ngModel)]="confirmPassword"
      #fieldConfirmPassword="ngModel"
      [type]="passwordInputType"
      placeholder="&#xf023;  Confirm New Password"
      [attr.aria-label]='"Confirm Password"'
    />

    <button (click)="showPasswords()"
            class="lgn-show-password"
            tabindex="0"
            type="button">
      <span class="fa" [ngClass]="{ 'fa-eye': !isShowPasswords, 'fa-eye-slash': isShowPasswords }"></span>
      {{ isShowPasswords ? 'Hide' : 'Show'}}
    </button>
    <button (click)="submitPassword()"
            [ngClass]="{'disabled': submitted}"
            class="btn btn-lg btn-primary"
            tabindex="0"
            type="submit">
      <span *ngIf="submitted">
        <span class='fas fa-spinner fa-pulse'></span>
      </span>
      <span *ngIf="!submitted">SET PASSWORD</span>
    </button>
  </div>
</form>
