/* **** Password Requirements *** */
.password-rules-tooltip {
  position: relative;

  & div {
    position: absolute;
    left: 0;
    right: 0;
    width: 65%;
    min-width: 275px;
    max-width: 350px;
    top: -134px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    line-height: 20px;
    background-color: #fff1e0;
    background-clip: padding-box;
    border: 2px solid #fdbb63;
    border-radius: 1px;
    padding: 10px 12px;
    margin-bottom: 18px;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
    font-size: 12px !important;
    z-index: 20;
  }

  & div:before,
  & div:after {
    content: "";
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -10px;
  }

  & div:before {
    border-top: 10px solid #fdbb63;
    margin-top: 1px;
  }

  & div:after{
    border-top: 10px solid #fff1e0;
    margin-top: -2px;
    z-index: 1;
  }

  & > div > ul > li > .fa {
    margin-right: 9px;
  }

  & > div > ul > li > span > .fa-check {
    color: #54B948;
  }

  & >  div > ul > li > .fa-exclamation-triangle {
    color: #EF434B;
  }

  & .password-validation-list {
    margin: 0;

    & li {
      list-style: none;
      margin-left: -37px;
      font-size: 12px !important;
    }

  }
}
