<div class="form-group">
  <div class="lgn-password-rules-tooltip" *ngIf="focusNewPassword">
    <div class="lgn-tooltip-container">
      Your password must have:
      <ul class="lgn-password-validation-list">
        <li>
          <span *ngIf="!lengthRequirementMet"><i class="far fa-circle"></i></span>
          <span *ngIf="lengthRequirementMet"><i class="fa fa-check"></i></span>
          At least 10 characters
        </li>
        <li>
          <span *ngIf="!lowercaseRequirementMet"><i class="far fa-circle"></i></span>
          <span *ngIf="lowercaseRequirementMet"><i class="fa fa-check"></i></span>
          A lower-case letter (like a)
        </li>
        <li>
          <span *ngIf="!uppercaseRequirementMet"><i class="far fa-circle"></i></span>
          <span *ngIf="uppercaseRequirementMet"><i class="fa fa-check"></i></span>
          A upper-case letter (like A)
        </li>
        <li>
          <span *ngIf="!specialCharacterRequirementMet"><i class="far fa-circle"></i></span>
          <span *ngIf="specialCharacterRequirementMet"><i class="fa fa-check"></i></span>
          A number or special character (like 1 or $)
        </li>
        <li *ngIf="isBlacklisted">
          <span class="fa fa-exclamation-triangle"></span>Cannot be a common password
        </li>
        <li *ngIf="!noSpecialBracketsCharacterRequirementMet && newPassword?.length > 0">
          <span class="fa fa-exclamation-triangle"></span>Cannot contain < > characters
        </li>
        <li *ngIf="!usernameNotSameAsPasswordRequirementMet && newPassword?.length > 0">
            <span class="fa fa-exclamation-triangle"></span>The password cannot include your user name
        </li>
        <li *ngIf="!emailNotSameAsPasswordRequirementMet && newPassword?.length > 0">
          <span class="fa fa-exclamation-triangle"></span>The password cannot include your email
        </li>
      </ul>
    </div>
  </div>

  <fieldset class="form-group" >
    <label *ngIf="(focusNewPassword && fieldNewPassword.untouched) || fieldNewPassword.valid"
           id="fieldNewPasswordLabel"
           class="help-message"
           for="fieldNewPassword"
    >
      &#xf023; Password
    </label>
    <div *ngIf="fieldNewPassword.touched && fieldNewPassword.invalid" class="error-message">
      <span *ngIf="fieldNewPassword.hasError('required')">
        Password is required.
      </span>
      <span *ngIf="!fieldNewPassword.hasError('required') && fieldNewPassword.invalid">
          The password does not yet meet requirements.
      </span>

    </div>

    <lgn-capslock-tooltip></lgn-capslock-tooltip>
    <input
      name="fieldNewPassword"
      id="fieldNewPassword"
      title="Password Input"
      required
      class="form-control lgn-new-password"
      [ngClass]="{'form-focus': focusNewPassword, 'form-error': (fieldNewPassword.touched && fieldNewPassword.invalid)}"
      (focus)="onFocusNewPassword()"
      (blur)="focusNewPassword = false"
      (input)="onChangeNewPassword()"
      [(ngModel)]="newPassword"
      autocomplete="new-password"
      #fieldNewPassword="ngModel"
      [type]="passwordInputType"
      placeholder="{{fieldNewPassword.untouched ? '&#xf023;  Password' : '' }}"
      [attr.aria-label]='"Password"'
      validatePassword [username]="username" [email]="email"
      tabindex="1"
    />

    <!-- Strength Bar -->
    <div>
      <div class="progress password-progress-container">
        <div id="strengthBar" role="progressbar" class="progress-bar" [ngClass]="strengthBarClass"></div>
      </div>
      <div id="strengthMsg" class="strength-msg">
        <span class="strength-msg-prefix">{{strengthMsgPrefix}}</span>
        <span>{{strengthMsg}}</span>
      </div>
    </div>

    <lgn-capslock-tooltip></lgn-capslock-tooltip>
    <!-- Font Awesome does not play well with ngIF. The wrapper span is needed in order for the
    icon to hide when the condition is not met -->
    <span *ngIf="!fieldConfirmPassword.hasError('required') && checkIfPasswordsMatch()">
      <span class="fa fa-check lgn-confirm-password-match-indicator"></span>
    </span>

    <label *ngIf="focusConfirmPassword || fieldConfirmPassword.valid"
           id="fieldConfirmPasswordLabel"
           class="help-message"
           for="fieldConfirmPassword"
    >
      &#xf023; Confirm Password
    </label>

    <div *ngIf="fieldConfirmPassword.touched && (fieldConfirmPassword.invalid || !confirmPasswordMatch)" class="error-message">
      <span *ngIf="fieldConfirmPassword.hasError('required')">
        Confirm Password is required.
      </span>
      <span *ngIf="!fieldConfirmPassword.hasError('required') && !confirmPasswordMatch">
          The passwords do not match. Please try again.
      </span>
    </div>

    <input
      name="fieldConfirmPassword"
      id="fieldConfirmPassword"
      title="Confirm Password Input"
      required
      [ngClass]="{'form-focus': focusConfirmPassword,
                  'form-error': fieldConfirmPassword.touched && (fieldConfirmPassword.invalid || !confirmPasswordMatch),
                  'new-password-with-indicator': confirmPasswordMatch && passwordMeetsSICRequirements
                 }"
      class="form-control lgn-confirm-password"
      (input)="onChangeConfirmPassword()"
      (blur)="onChangeNewPassword()"
      (focus)="onFocusConfirmPassword()"
      [(ngModel)]="confirmPassword"
      #fieldConfirmPassword="ngModel"
      [type]="passwordInputType"
      placeholder="{{fieldConfirmPassword.untouched ? '&#xf023;  Confirm Password' : '' }}"
      [attr.aria-label]='"Confirm Password"'
      tabindex="1"
      autocomplete="new-password"
    />
    <input type="hidden"
           name="_matchValid"
           id="_matchValid"
           [(ngModel)]="confirmPasswordMatch"
           #matchValid="ngModel" />
  </fieldset>

  <button (click)="showPasswords()"
          class="lgn-show-password"
          tabindex="1"
          type="button"
          aria-label="Show or Hide Password"
  >
    <span class="fa"
          [ngClass]="{ 'fa-eye': !isShowPasswords, 'fa-eye-slash': isShowPasswords }"></span>
    {{ isShowPasswords ? 'Hide' : 'Show'}}
  </button>
</div>
