<sfg-brand-idle-timeout></sfg-brand-idle-timeout>

<lgn-message-popup
  *ngIf="hasPasswordError"
  [message]="activeErrorMessage"
  [msgType]="'error'">
</lgn-message-popup>

<div class="lgn-center-col col-12 col-sm-10 col-md-6">
  <h1 class="lgn-reset-password-title">
    It's time to change your password.
  </h1>
  <h3 class="lgn-reset-password-subtitle">
    Create a new password.
  </h3>
  <p class="lgn-reset-password-details">We have enhanced our security to allow for stronger passwords.</p>

  <lgn-new-password
    (activePasswordErrorChanged)="handlePasswordError($event)"
    (passwordHasBeenUpdated)="routeOnSuccess()"
    [needsCurrentPassword]="true"
    [selectedStep]="this.selectedStep">
  </lgn-new-password>
</div>
