.lgn-next-steps {
    margin-top: 8%;
    margin-bottom: 8%;
  }
  
  ul {
    list-style: none;
    font-size: 16px;
  }
  
  .lgn-master-list {
    padding-left: 0;
  }
  
  .lgn-list-heading {
    font-weight: bold;
  }
  
  li {
    margin: 8px 0;
  }

  .lgn-email-problems {
    font-size: 16px;
  }
  
  .lgn-button-container {
    width: 100%;
    text-align: center;
    margin-top: 25px;
  }
  
  .lgn-continue-btn {
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
    font-size: 16px;
  }
  