<lgn-message-popup
  *ngIf="hasPasswordError"
  [msgType]="'error'"
  [message]="activeErrorMessage">
</lgn-message-popup>

<div class="lgn-center-col col-12 col-sm-10 col-md-6">
  <h1 *ngIf="!provisioned">Set A New Password</h1>
  <h1 *ngIf="provisioned">Create a Password</h1>
  <lgn-step-indicator *ngIf="!adminInitiated && !provisioned" [selectedStep]="selectedStep" [steps]="steps"></lgn-step-indicator>
  <h3 *ngIf="!provisioned">Choose a strong password</h3>
  <p *ngIf="provisioned" class="lgn-follow-rules">To activate your account, please create a password that meets the security requirements. You'll then be able to log in to complete your account setup.</p>
  <p *ngIf="!provisioned" class="lgn-follow-rules">Follow the rules to help ensure the safety of your account.</p>

  <lgn-new-password
    [otpCode]="otpCode"
    [needsCurrentPassword]="false"
    (activePasswordErrorChanged)="handlePasswordError($event)"
    (passwordHasBeenUpdated)="handleNavigationToLogin()"
    [provisioned]="provisioned"
  >
  </lgn-new-password>

</div>
