.checkbox-primary {
  margin-top: 10px;
  margin-bottom: 25px;
}

.lgn-show-password {
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 20px;
}

.lgn-set-btn {
  letter-spacing: 1px;
  width:100%;
}

.lgn-follow-rules {
  margin-top: 10px;
  margin-bottom: 35px;
}

.lgn-show-password {
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 25px;
  display: inline-block;
  cursor: pointer;
  padding: 5px 15px;
  background: none;
  border: none;
}
.container-fluid {
  height: 77%;
}

ul li {
  font-size: 16px;
}

ul li a {
  text-decoration: underline;
}

p a {
   text-decoration: underline;
}

.lgn-new-password {
  margin-bottom: 2px;
}

.lgn-confirm-password {
  margin-bottom: 25px;
}

/* **** Password Requirements *** */
.lgn-password-rules-tooltip {
  position: relative;
}

.lgn-password-rules-tooltip div {
  position: absolute;
  left: 0;
  right: 0;
  width: 65%;
  min-width: 275px;
  max-width: 350px;
  top: -145px;
  margin-left: auto;
  margin-right: auto;
	text-align: left;
	line-height: 20px;
	background-color: #fff1e0;
	background-clip: padding-box;
	border: 2px solid #fdbb63;
	border-radius: 1px;
	padding: 10px 12px;
  margin-bottom: 18px;
	-webkit-transition: opacity 0.5s linear;
	-moz-transition: opacity 0.5s linear;
	-ms-transition: opacity 0.5s linear;
	-o-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
  font-size: 12px !important;
  z-index: 20;
}

.lgn-password-rules-tooltip div:before,
.lgn-password-rules-tooltip div:after {
	content: "";
	position: absolute;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: 100%;
	left: 50%;
	margin-left: -10px;
}
.lgn-password-rules-tooltip div:before {
	border-top: 10px solid #fdbb63;
	margin-top: 1px;
}
.lgn-password-rules-tooltip div:after{
	border-top: 10px solid #fff1e0;
	margin-top: -2px;
	z-index: 1;
}


.lgn-password-rules-tooltip > div > ul > li > .fa {
  margin-right: 9px;
}
.lgn-password-rules-tooltip > div > ul > li > .fa-check {
  color: #54B948;
}
.lgn-password-rules-tooltip >  div > ul > li > .fa-exclamation-triangle {
  color: #EF434B;
}

.lgn-password-validation-list > ul {
  margin-top: 13px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.lgn-password-validation-list > li {
  list-style: none;
  margin-left: -37px;
  font-size: inherit;
}

.lgn-confirm-password-match-indicator {
  font-size: 24px;
  margin-left: 10px;
  margin-top: 10px;
  color: #54B948;
  position: absolute;
  right: 30px;
}

/* *****  strength bar indicator ******  */

.progress {   /* override bootstrap */
  height: 15px !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
   border-radius: 0 !important;
}

.lgn-password-strength-default {
  width: 5%;
  background-color: #EF434B;
}
.lgn-password-strength-weak {
  width: 20%;
  background-color: #EF434B;
}
.lgn-password-strength-weak-2 {
  width: 40%;
  background-color: #EF434B;
}
.lgn-password-strength-better {
  width: 60%;
  background-color: #FFE06A;
}
.lgn-password-strength-good {
  width: 80%;
  background-color: #A4E086;
}
.lgn-password-strength-strong {
  width: 100%;
  background-color: #54B948;
}
.lgn-strength-msg {
  margin-top:-17px;
  margin-bottom:20px;
  font-size: 12px;
}
.lgn-strength-msg-prefix {
   margin-right:30px;
}


@media(max-width:767px){
  .lgn-new-password-with-indicator {
    width:85%;
  }
}
