.lgn-msg-popup {
  min-height: 70px;
  margin-bottom: 30px;
  margin-top: 20px;
  color: #3f3f3f;
  font-size: 16px;
}

.lgn-msg-popup-warning {
  background-color: #FFF1E0;
  border: 2px solid #FDBB63;
}
.lgn-msg-popup-warning span {
  color: #FDBB63;
  font-size: 26px;
}

.lgn-msg-popup-error {
  background-color: #F1CAD0;
  border: 2px solid #E31937;
}
.lgn-msg-popup-error span {
  color: #E31937;
  font-size: 26px;
}

.lgn-msg-popup-info {
  background-color: #D4EDD1;
  border: 2px solid #54B948;
}
.lgn-msg-popup-info span {
  color: #54B948;
  font-size: 26px;
}

.lgn-msg-container {
  margin: 15px 0;
  display: flex;
}

.lgn-msg-icon-container {
  align-self: flex-start;
}

.lgn-msg-body {
  align-self: center;
}

.lgn-msg-body p:last-child {
  margin: 0;
}

.fa {
  margin-right: 20px;
}

.lgn-msg-icon {
  padding-top: 4px !important;
  font-size: 34px !important;
}

.top-pad {
  margin-top: 10px;
}

.lgn-request-status-container {
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  align-items: stretch;
  justify-items: flex-start;
  flex-wrap: nowrap;
}

.lgn-status-icon {
  order: 1;
  font-size: 26px;
}

.lgn-status-message {
  order: 2;
}

.lgn-green {
  color: #54B948;
}

.lgn-red {
  color: #E31937;
}
